<!DOCTYPE html>
<html lang="en">

<head>
  {{>headerlinks}}
</head>

<body>
    {{>navbar}}
 <div class=" main_header_left ">
                        <div class="error">
                        <figure class="errimg">
                            <img src="images/404.jpg" alt="harshit"  title="Harshit Upadhyay">
                        </figure>
                     <p>Welcome to Weather App</p>
                     <h2>{{errmsg}}</h2>
                     <a href="/"><button class="Check">Go back</button></a>
                     </div>
                    </div>

    {{>footer}}
</body>

</html>