<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}
    <!-- main header -->
    <div class="containter-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side Div -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/about.png" alt="harshit" class="imgabout" title="Harshit Upadhyay">
                        </figure>
                    </div>
                    <!-- Right side Div -->
                    <div class="col-md-6 col-12 main_header_left ">
                        
                        <h2><I><U>ABOUT DEVELOPER</U></I></h2>
                        <p class="aboutfirstp">I'm <span class="text_clr">Harshit Upadhyay</span>, a solo developer with
                            a passion for turning ideas into innovative digital
                            solutions. With a strong coding background, I thrive on crafting exceptional software that
                            makes a difference.</p><br>
                        <p class="aboutsep">
                            <span class="text_clr">Why Choose Me?</span><br>

                            •<span class="text_clr"> Passionate:</span> Development is my fuel; it's not just a job, but my genuine passion.<br>

                            •<span class="text_clr"> Attention to Detail:</span> Meticulous craftsmanship, from pixels to functions.<br>

                            •<span class="text_clr"> Adaptable:</span> Versatile in handling diverse projects, from web to mobile apps.<br>

                            •<span class="text_clr"> Collaborative:</span> Your insights shape the project; I'm here to listen and discuss<br>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Footer Code -->
    {{>footer}}
</body>

</html>